

@font-face {
  font-family: 'Eina';
  font-display: optional;
  font-weight: 400;
  src: url('/fonts/Eina01W05-Regular.woff2');
}
@font-face {
  font-family: 'Eina';
  font-display: optional;
  font-weight: 600;
  src: url('/fonts/Eina01W05-SemiBold.woff2');
}

@font-face {
  font-family: 'Eina';
  font-display: optional;
  font-weight: 800;
  src: url('/fonts/Eina01-Bold.woff2');
} 


body {
  padding: 20px;
  font-family: 'Eina'
}